body { position: absolute; left: 50%; margin-left: -45%; width: 90%; }
h1 { position: absolute; top: 67px; left: -120px; -webkit-transform:rotate(270deg); -moz-transform:rotate(270deg); -o-transform: rotate(270deg); }
input { padding: 5px; }
input[type=text] { min-width: 244px; padding: 7px; }
section { float: left; border: 1px solid #f2f2f2; margin-right: 5px; padding: 5px; }
section li { list-style: none; margin-left: -39px; }
section label { display: block; margin: 10px 0px 5px; }
section#titulo { width: 20%; }
section#enquete { width: 70%; }
section#enquete div { clear: both; width: 100%; text-align: center; background: #f2f2f2; }
section#enquete input { width: 317px; }
section#enquete input[type=button] { width: 150px; }
section#enquete span { float: left; width: 87%; padding: 7px 0px 7px 5px; }
section#enquete ul { border: 1px solid #f2f2f2; }
section#enquete ul li { padding: 5px; }
section#enquete ul li ol { background-color: #CCFFB2; }
section#enquete ul li ol li:hover { background-color: #cecece; }
/**/
section#enquete ul li input[type=button],
section#enquete form  input[type=button],
section#resposta form input[type=button] { width: 45px; }
/**/
section#pergunta, section#resposta { width: 49%; padding: 0px; border: 0px; }
.added { background-color: #E0FFD1; }