<section id="pergunta" data-ng-controller="PerguntaController">

    <form data-ng-init="init();">
        <label for="perguntaInput">Pergunta</label>
        <input type="text" id="perguntaInput" name="pergunta" ng-model="pergunta.pergunta" data-ng-init="pergunta.pergunta = ''"/>
        <input type="button" value="Add" ng-click="save(pergunta);"/>
        <input type="button" value="Clean" ng-click="clean()" ng-show="pergunta.pergunta.length"/>
    </form>

    <label>Perguntas</label>
    <ul>
        <li data-ng-click="selecionarPergunta(pergunta);" data-ng-class="{ 'added': pergunta.selecionada }" data-ng-repeat="pergunta in perguntas| filter: pergunta.pergunta">
            <span>{{ pergunta.pergunta }}</span>
            <input type="button" value="Edit" ng-click="edit(pergunta);" />
            <input type="button" value="X" ng-click="delete($index);" />
        </li>
    </ul>
</section>