<section id="resposta" data-ng-controller="RespostaController">
    <form>
        <label for="respostaInput">Resposta</label>
        <input type="text" id="respostaInput" name="resposta" ng-model="resposta.resposta" data-ng-init="resposta.resposta = ''"/>
        <input type="button" value="Add" ng-click="save(resposta);" data-ng-show="pergunta"/>
        <input type="button" value="Clean" ng-click="clean();" ng-show="resposta.resposta.length"/>
    </form>
    <label>Respostas</label>
    <ul>
        <li ng-repeat="resposta in pergunta.respostas| filter:resposta.resposta">
            <span ng-click="edit(resposta)">{{ resposta.resposta}} - Votos {{resposta.quantidade_votos}}</span>
            <input type="button" value="Edit" ng-click="edit(resposta);" />
            <input type="button" value="X" ng-click="delete($index);"/>
        </li>
    </ul>
</section>